<html>
{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery library -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="icon" type = "image/png" href="{% static "images/favicon.png" %}" />
<link rel="stylesheet" href="{% static "css/homebase.css" %}" />
<link rel="stylesheet" href="{% static "css/index.css" %}" />

<title>مستعمل</title>

</head>
<body>
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
  <div id="navbar">
    <div class="container">
        <div class="row row1">
            <div class="largenav d-flex smallLoginSignup">
                <div style="height:50%; width: 100%;justify-content:flex-end;" class="d-flex flex-row">
                  <div class="cart1 smallnav d-md-none col-sm-2 pull-right"> <a class="cart-button" href="/cart"> <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
                    <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
                      </svg><span class="item-number ">{{ product_count_in_cart }}</span> </a>
                  </div>
                  <a style="margin:10px; font-family: 'Noto Kufi Arabic', sans-serif;" class="profile-links" href="/customerlogin">تسجيل الدخول</a>
                 
                  <a style="margin:10px; font-family: 'Noto Kufi Arabic', sans-serif;" class="profile-links" href="/customersignup">حساب جديد</a>
 
                </div>

            </div>
        </div>
        <div class="row row2">
            <div style="margin-top: 10px;" class="col-sm-3">
              <p class="largelogo"><a style="text-decoration:none; color:white;" href="/"><img style="width:100%; height:15vh; object-fit: contain;" class="largenav d-flex flex-row" src="{% static "images/transparent.png" %}"></a></p>
            </div>


            <div class="navbar-search smallsearch col-sm-7 col-xs-11">
              <form  action="/search" method="get">
                <div class="row"> <input style="direction:rtl;" class="navbar-input col-xs-10" type="search" placeholder="ابحث في منتجاتنا..." name="query" id="query">
                  <button class="navbar-button col-xs-2" type="submit">
                    <svg width="15px" height="15px" fill="white">
                            <path  d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                    </svg>
                  </button>
                </div>
              </form>
            </div>


            <div class="cart1 largenav col-sm-2 pull-right"> <a class="cart-button" href="/cart"> <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
                        <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
                    </svg><span class="item-number ">{{ product_count_in_cart }}</span> </a>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-top-1703956413 smallnav" style="transform: translateY(3vh);">
      <svg  data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
      </svg>
  </div>
</div>
  {%endif%}

<!-- content start-->
{% block content %}

{% endblock content %}
<!-- content end-->
<br><br><br>
<footer style="position:relative; bottom: -7%; width: 100%;">
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p class="text-center">
            <br>
            &copy; 2024 Developed by mohamed ashraf
            <br>
            <br>
            لو كان عندك اي مشاكل يمكنك التواصل معنا
          <br>
            التوصيل داخل مصر فقط
        </p>
        </div>
      </div>
    </div>
  <p style="display: flex;
  justify-content: center;
  align-items: center;">
    <a href="https://www.facebook.com/mosta3mal11" style="border-radius: 1000px; width: 0px; height: 0px; padding: 20px; display:flex; justify-content:center; align-items:center; margin-top: 6px; margin-right: 20px; background-color:black;" target="_blank" class="fa fa-facebook"></a>
    <a href="https://wa.me/01021888869" style="border-radius: 1000px; width: 0px; height: 0px; padding: 20px; display:flex; justify-content:center; align-items:center; margin-top: 6px; margin-left: 20px; background-color:black;" target="_blank" class="fa fa-whatsapp"></a>
  </p>

  <br>

  </div>
</footer>
<script>
$(document).ready(function(){

function openNav() {
document.getElementById("mySidenav").style.width = "70%";

document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
document.getElementById("mySidenav").style.width = "0";
document.body.style.backgroundColor = "rgba(0,0,0,0)";
}


});
</script>

</body>
</html>